body {
  width: 100vw;
  height: 100vh;
}
.paper-container {
  float: left;
  margin: 0;
  padding: 0;
  background: url(../assets//imgs/paperbg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  font-family: jinkai;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
}
.paper {
  position: absolute;
  text-align: center;
  background: url(../assets/imgs/paper.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 80vw;
  height: 60vh;
  margin-top: 12vh;
}
.paper-bg {
  background: url(../assets/imgs/yuanqi.png);
  width: 100%;
  height: 100%;
}